name: Anka

on:
  push

jobs:
  build: 
    runs-on: self-hosted
    steps:
      - name: Anka
        id: build
        uses: veertuinc/anka-vm-github-action@v1.3.3
        with:
          anka-vm-template-name: "VenturaM1"
          anka-vm-tag-name: "base"
          anka-start-options: "-f"
          anka-run-options: "--wait-network --wait-time --no-volume"
          skip-registry-pull: true
          anka-cp-disable: true
          vm-commands: |
            echo \"Starting build process on \$(hostname)\"