name: Anka

on:
  push

jobs:
  build: 
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v2
      - name: Anka
        id: build
        uses: veertuinc/anka-vm-github-action@v1.3.3
        with:
          anka-vm-template-name: "13.2"
          anka-vm-tag-name: "base"
          anka-start-options: "-f"
          skip-registry-pull: true
          vm-commands: |
            echo \"Starting build process on \$(hostname)\"
            pwd